.text-field {
    width: 100%;
    max-width: 320px;
    height: 24px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border: 1px solid $dark25;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-left: 14px;

    &::placeholder{        
        color: $dark25;         
        line-height: 18px;
    }

    &:focus,
    &:hover {
        border: 1px solid $dark50;

        &::placeholder{                    
            color: $dark75;  
        }
    }
}