@import '../../scss/fonts/material-icons/material-icons.scss';

.material-icons {
  display: inline-block;
  font-family: 'Material Icons';
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  user-select: none;
  font-size: 1.7143rem;
}
