.material-icons {
  display: inline-block;
  font-family: 'Material Icons';
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  user-select: none;

  &_font-size-18 {
    font-size: 1.2857rem;
    line-height: 1.2857rem;
  }

  &_font-size-10 {
    font-size: 0.7143rem;
    line-height: 0.6429rem;
  }

  &_font-size-48 {
    font-size: 3.4286rem;
    line-height: 2.9286rem;
  }
}
