mixin material-icons ({type, ontSize = 24} = {})
    - var fontSize = ''
    if(fontSize != 24)
        - fontSize = 'material-icons_font-size-' + fontSize
    
    i.material-icons(class = fontSize)=type