@import '../../scss/colors.scss';

@import '../../scss/fonts/montserrat/montserrat.scss';

.label {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark100;
}
