.label{
    display: flex;
    justify-content: space-between;

    &_margin-bottom-5{
        margin-bottom: 5px;
    }

    &_margin-bottom-13{
        margin-bottom: 13px;
    }

    &_margin-bottom-16{
        margin-bottom: 16px;
    }

    &_margin-bottom-17{
        margin-bottom: 17px;
    }
    
    &_short{
        max-width: 266px;
    }

    &__caption{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark50;

        &_margin-top-3{
            margin-top: -3px;
        }
    }
}