@import '../text-field/text-field.scss';
@import '../label/label.scss';
@import '../checkbox-button/checkbox-button.scss';

@import '../../scss/fonts/montserrat/montserrat.scss';

.slider-card {
  max-width: 50rem;
  width: 100%;
  border: 0.0714rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 1.7857rem rgba(0, 0, 0, 0.2);
  border-radius: 0.2857rem;
  padding: 2.7857rem 2.0714rem 2.0714rem 2.0714rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.3571rem 2.1429rem 0.3571rem;

  &__slider {
    width: 100%;

    &_vertical {
      max-width: 1.1429rem;
      max-height: 21.4286rem;
      height: 100%;
    }

    &-wrapper {
      max-width: 21.4286rem;
      width: 100%;
      min-height: 21.4286rem;
    }
  }

  &__form {
    max-width: 22.8571rem;
    width: 100%;
    min-height: 21.4286rem;

    &-item-wrapper {
      margin-bottom: 0.3571rem;
    }
  }

  &__error {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
    color: red;
  }
}
