doctype html
html
    head
    body
        .slider
        br
        .slider-v
        br

        //- .sl(style="width: min-content; height: 100px;")
        //-     .simpleslider.simpleslider_vertical
        //-         .simpleslider__header
        //-         .simpleslider__wrapper.simpleslider__wrapper_vertical
        //-             .simpleslider__line.simpleslider__line_vertical
        //-             .simpleslider__handle.simpleslider__handle_vertical
