doctype html
html
    head
    body
        .slider
        br
        br
        //- .simpleslider
        //-     .simpleslider__header
        //-     .simpleslider__wrapper
        //-         .simpleslider__line
        //-         .simpleslider__handle
