@import './plugin/styles.scss';
@import "./demopage/styles.scss";
@import "./demopage/fonts/materialicons/material-icons.css";
@import "./demopage/fonts/montserrat/Montserrat.css";

.slider, 
.slider-r{
    width: 150px;
}

.slider-v,
.slider-rv{
    width: max-content;
    height: 150px;
}

