@import '../material-icons/material-icons.scss';
@import '../../scss/colors.scss';

.checkbox-button {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  max-width: 18.5714rem;
  box-sizing: border-box;
  user-select: none;

  &_rich {
    margin-bottom: 0.6429rem;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__text {
    position: relative;
    padding-left: 2.1429rem;
    cursor: pointer;
  }

  &__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.4286rem;
    color: $dark75;
  }

  &__content {
    white-space: normal;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2857rem;
    color: $dark50;
    max-width: 13.7143rem;

    &_rich {
      font-size: 0.8571rem;
      line-height: 1rem;
      max-width: 16.4286rem;
      margin-top: 0.3571rem;
    }
  }

  &__text::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1.4286rem;
    height: 1.4286rem;
    border: 0.0714rem solid $dark25;
    box-sizing: border-box;
    border-radius: 0.2857rem;
  }

  &__text::after {
    content: 'done';
    display: none;
    font-family: 'Material Icons';
    font-size: 1.2857rem;
    line-height: 1.2857rem;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    user-select: none;
    font-weight: bold;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4286rem;
    height: 1.4286rem;
    border: 0.0714rem solid $purple;
    box-sizing: border-box;
    border-radius: 0.2857rem;
  }

  &__input:checked + &__text::before {
    display: none;
  }

  &__input:checked + &__text::after {
    display: inline-block;
  }
}
