.radio-buttons {
    display: inline-block;
    widows: auto;

    &__label{
        display: inline-block;
    }

    &__input{
        position: absolute;
        z-index: -1;
        opacity: 0; 
        margin-top: 2px;       
    }

    &__text{
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding-left: 30px;        
        margin-right: 16px;        
        line-height: 24px;        
        white-space: normal;
    }

    &__content{
        margin-top: -3px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $dark50;
    }

    &__text::before{
        display: inline-block;
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $dark25;
        border-radius: 10px;
        box-sizing: border-box;
        vertical-align: middle; 
    }

    &__text::after{
        display: none;
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        border: 1px solid $purple;
        border-radius: 10px;
        padding: 4px;
        background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
        box-sizing: border-box; 
    }
}

.radio-buttons .radio-buttons__input:checked + .radio-buttons__text::after {
	display: inline-block;
}
.radio-buttons .radio-buttons__input:checked + .radio-buttons__text::before {
	border: 1px solid $purple;
}
.radio-buttons .radio-buttons__input:checked + .radio-buttons__text .radio-buttons__content{
    color: $dark75;
}